<html>
<head>
<title>fragment_navigation_drawer.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment_navigation_drawer.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;</span><span class="s1">ListView </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot; </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot; </span><span class="s2">android:choiceMode=</span><span class="s3">&quot;singleChoice&quot;</span><span class="s0"> 
    </span><span class="s2">android:divider=</span><span class="s3">&quot;@android:color/transparent&quot; </span><span class="s2">android:dividerHeight=</span><span class="s3">&quot;0dp&quot;</span><span class="s0"> 
    </span><span class="s2">android:background=</span><span class="s3">&quot;#cccc&quot; </span><span class="s2">tools:context=</span><span class="s3">&quot;com.littleo.netpda.NavigationDrawerFragment&quot; </span><span class="s0">/&gt; 
</span></pre>
</body>
</html>